* { box-sizing: border-box; }

body { font-family: sans-serif; }

.grid {
    background: #EEE;
    max-width: 1200px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    position: relative;
    width: 160px;
    height: 120px;
    float: left;
    background: #000;
    border: 1px solid #000;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ0ODYzODc0OV5BMl5BanBnXkFtZTgwMDk3OTcyMDE@._V1_SY1000_CR0,0,678,1000_AL_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

#slider {
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}

#timeSlider {
    width: calc(100% - 170px);
    margin-left: 20px;
    margin-right: 20px;
}

#slider span {
    width: 20px;
}

.grid-item span {
    padding: 3px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

.grid-item .title {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-item .channel {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
}


